@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// COLORS

$primary-color: #8a39e1;
$primary-dark-color: #9c51e0;
$primary-light-color: #b667f1;
$secondary-color: #ecc488;
$light-color: #fff;
$dark-color: rgb(80, 80, 80);

// FONT

$primary-font: "Poppins", sans-serif;

// MEDIA QUERY

@mixin for-medium-screen {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin for-large-screen {
	@media (min-width: 1024px) {
		@content;
	}
}
@mixin for-extralarge-screen {
	@media (min-width: 1280px) {
		@content;
	}
}
