@use "./variables";

.form1 {
	background-color: variables.$light-color;
	padding: 32px;
	margin: 48px;
	width: 92%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include variables.for-medium-screen {
		grid-template-columns: auto;
	}
	@include variables.for-large-screen {
		padding: 32px;
		width: 840px;
		grid-template-columns: auto auto;
	}
	@include variables.for-extralarge-screen {
		grid-template-columns: auto auto;
	}

	&__header {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;

		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.step {
				color: variables.$primary-color;
			}

			.heading {
				font-size: 24px;
				font-weight: 700;
				color: variables.$primary-color;
			}
		}
	}

	&__step-1 {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;

		@include variables.for-medium-screen {
			grid-template-columns: 1fr 1fr;
		}

		.input__container {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.input_default {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;
				padding: 16px;
				background-color: rgba(variables.$primary-dark-color, 0.1);
				border: 1px solid transparent;

				.icon {
					color: variables.$primary-color;
					font-size: 22px;
				}

				input {
					border: none;
					outline: none;
					background: none;
					width: 100%;
					height: 100%;
					color: variables.$primary-color;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				input[type="number"] {
					-moz-appearance: textfield;
				}
			}
			.input_err {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;
				padding: 16px;
				background-color: rgba(variables.$primary-dark-color, 0.1);
				border: 1px solid rgba(red, 0.8);

				.icon {
					color: rgba(red, 0.8);
					font-size: 20px;
				}

				input {
					border: none;
					outline: none;
					background: none;
					width: 100%;
					color: rgba(red, 0.8);
					height: 100%;
				}
			}

			.err {
				color: rgba(red, 0.8);
				font-size: 12px;
				white-space: pre-wrap;
			}
		}
		.gender {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			&__label {
				color: variables.$primary-color;
				font-weight: 700;
			}
			&__radio {
				display: flex;
				align-items: center;
				gap: 8px;

				&--male {
					display: flex;
					align-items: center;
					gap: 8px;
					color: variables.$primary-light-color;

					input[type="radio"] {
						-ms-transform: scale(1.5); /* IE 9 */
						-webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
						transform: scale(1.5);
					}
				}
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		background-color: variables.$primary-dark-color;
		color: variables.$light-color;
		gap: 8px;
		font-size: 16px;
		cursor: pointer;
		padding: 12px;
		align-items: center;
		border: none;
	}
}
