@use "./variables";

.form3 {
	background-color: variables.$light-color;
	padding: 32px;
	margin: 48px;
	width: 92%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include variables.for-medium-screen {
		grid-template-columns: auto;
	}
	@include variables.for-large-screen {
		padding: 32px;
		width: 840px;
		grid-template-columns: auto auto;
	}
	@include variables.for-extralarge-screen {
		grid-template-columns: auto auto;
	}

	&__header {
		display: flex;
		align-items: center;

		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			align-self: center;

			.step {
				color: variables.$primary-color;
			}

			.heading {
				font-size: 24px;
				font-weight: 700;
				color: variables.$primary-color;
			}
		}

		&--left {
			display: flex;
			align-items: center;

			justify-content: center;
			background-color: variables.$primary-color;
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			cursor: pointer;
		}

		&--left-disabled {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(variables.$primary-light-color, 0.5);
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			cursor: not-allowed;
		}

		&--right-disabled {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(variables.$primary-light-color, 0.5);
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			cursor: not-allowed;
		}

		&--center {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: 700;
			color: variables.$dark-color;
		}
		&--right {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: variables.$primary-dark-color;
			color: variables.$light-color;
			padding: 8px;
			font-size: 24px;
			border-radius: 50px;
			cursor: pointer;
		}
	}

	&__step-3 {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		.checkIcon {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 8px;
			.icon {
				color: variables.$primary-color;
				font-size: 64px;
			}
			.label {
				color: variables.$primary-color;
				font-size: 32px;
				font-weight: 700;
			}
		}

		.desc {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: variables.$primary-color;
			text-align: center;
		}

		.table {
			&__field {
				th,
				td {
					text-align: center;
					padding: 12px 24px;
				}

				th {
					background-color: variables.$primary-light-color;
					color: variables.$light-color;
					font-size: 16px;
				}
				td {
					background-color: rgba(variables.$primary-light-color, 0.2);
					color: variables.$primary-color;
					font-size: 14px;
				}
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		background-color: variables.$primary-dark-color;
		color: variables.$light-color;
		gap: 8px;
		font-size: 16px;
		cursor: pointer;
		padding: 12px;
		align-items: center;
		border: none;
	}
}
