@use "./variables";

.form2 {
	background-color: variables.$light-color;
	padding: 32px;
	margin: 48px;
	width: 92%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@include variables.for-medium-screen {
		grid-template-columns: auto;
	}
	@include variables.for-large-screen {
		padding: 32px;
		width: 840px;
		grid-template-columns: auto auto;
	}
	@include variables.for-extralarge-screen {
		grid-template-columns: auto auto;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			align-self: center;

			.step {
				color: variables.$primary-color;
			}

			.heading {
				font-size: 24px;
				font-weight: 700;
				color: variables.$primary-color;
			}
		}

		&--left {
			display: flex;
			align-items: center;

			justify-content: center;
			background-color: variables.$primary-color;
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			cursor: pointer;
		}

		&--left-disabled {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(variables.$primary-light-color, 0.5);
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			cursor: not-allowed;
		}

		&--right-disabled {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba(variables.$primary-light-color, 0.5);
			color: variables.$light-color;
			padding: 8px;
			font-size: 28px;
			border-radius: 50px;
			visibility: hidden;
			cursor: not-allowed;
		}

		&--center {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: 700;
			color: variables.$dark-color;
		}
		&--right {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: variables.$primary-dark-color;
			color: variables.$light-color;
			padding: 8px;
			font-size: 24px;
			border-radius: 50px;
			cursor: pointer;
		}
	}

	&__step-2 {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;

		@include variables.for-medium-screen {
			grid-template-columns: 1fr 1fr;
		}

		.input__container {
			display: flex;
			flex-direction: column;
			gap: 4px;

			.input_default {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;
				padding: 16px;
				background-color: rgba(variables.$primary-dark-color, 0.1);
				border: 1px solid transparent;

				.icon {
					color: variables.$primary-color;
					font-size: 22px;
					cursor: pointer;

					&:hover {
						color: rgba(variables.$primary-color, 0.8);
					}
				}

				input {
					border: none;
					outline: none;
					background: none;
					width: 100%;
					height: 100%;
					color: variables.$primary-color;
				}
			}
			.input_err {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;
				padding: 16px;
				background-color: rgba(variables.$primary-dark-color, 0.1);
				border: 1px solid rgba(red, 0.8);

				.icon {
					color: rgba(red, 0.8);
					font-size: 20px;
				}

				input {
					border: none;
					outline: none;
					background: none;
					width: 100%;
					color: rgba(red, 0.8);
					height: 100%;
				}
			}

			.err {
				color: rgba(red, 0.8);
				font-size: 12px;
			}
		}
		.check__container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;

			.check {
				display: flex;
				align-items: center;
				gap: 12px;

				&__text {
					font-size: 14px;
					color: variables.$dark-color;

					.link {
						color: variables.$primary-color;

						&:hover {
							text-decoration: underline;
							cursor: pointer;
						}
					}
				}
			}

			.err {
				color: rgba(red, 0.8);
				font-size: 12px;
			}

			input[type="checkbox"] {
				-ms-transform: scale(1.5); /* IE 9 */
				-webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
				transform: scale(1.5);
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		background-color: variables.$primary-dark-color;
		color: variables.$light-color;
		gap: 8px;
		font-size: 16px;
		cursor: pointer;
		padding: 12px;
		align-items: center;
		border: none;
	}
}
